<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GP Lista de tarefas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
  <style>
    body {
    background-color: #222222;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Estilos para os elementos do site */
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: bold;
  }

  p {
    color: #ffffff;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Estilos para o calendário */
  #calendar {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  /* Estilos para os títulos do calendário */
  .fc-toolbar h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
  }

  /* Estilos para os dias do calendário */
  .fc-daygrid-day-top {
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
  }

  /* Estilos para os eventos do calendário */
  .fc-event {
    background-color: white;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px;
  }

  .bg-custom {
    background: linear-gradient(to left, #6f2cf4, #6f2cf2)
  }

  .btn-custom {
    background-color: white;
  }
  </style>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>