<html lang="pt-br">
  <%- include('partials/header')%>
  <body>
   <%- include('partials/navbar')%>
    <h3 style="text-align: center; font-size: 24px; font-weight: bold; color: white; margin-top: 20px;"
    >Tarefas</h3>
    
    <div id="calendar">

    </div>
  </body>
  <%- include('partials/footer')%>
</html>